//config

//colors

$primary--dark--cyan: hsl(185, 75%, 39%);
$primary--verydark--blue : hsl(229, 23%, 23%);
$primary--darkgrey--blue: hsl(227, 10%, 46%);
$neutral--grey: hsl(0, 0%, 59%);

$primary--font: 'Kumbh Sans', sans-serif;

//ended up not using media queries
$bp:(
mobile: 480px,
tablet: 768px,
tablet-land: 800px,
desktop: 1200px,
large-desktop:1400px
);

@mixin query($screen){
 @each $key, $value in $bp {
   @if($screen == $key){
     @media (min-width:$value){
      @content;
    }
  }
}
}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-size:62.5%;
  font-family: $primary--font;
  background-color: $primary--dark--cyan;
  background: url("../images/bg-pattern-top.svg") no-repeat, url("../images/bg-pattern-bottom.svg") no-repeat, linear-gradient($primary--dark--cyan, $primary--dark--cyan);
  background-position: right 52vw bottom 38vh, left 48vw top 52vh;
}

h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem
}
h3{font-size: 1.8rem}
h4{font-size: 1.2rem}

p{
  font-size: 1rem;
  font-weight: 200;
  color: $neutral--grey;
}

.card-container{
 max-width: 1200px;
 width: 85%;
 margin: 20vh auto;
//  border: 2px solid red;
}
.card{
  margin: 0 auto;
  max-width:350px; 
  height: 400px;
  padding: 5rem 0;
  text-align: center;
  border-radius: 15px;
  background-image: 
    linear-gradient(to bottom, transparent 0 140px, white 0 100%),
    url("../images/bg-pattern-card.svg");
  background-position: top;


  &__details{
    &--img {
      border-radius: 50%;
      border: 7px solid white;
      background-color: white;// fixes leftover green border
      margin-bottom: 20px;
    }
    
  }

  &__user--details{
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: $primary--verydark--blue;
  }

  .lighter{
    color: $neutral--grey;
    font-weight: 300;
   }

  .separator{
    height: 1px;
    width: 100%;
    background-color:lighten($neutral--grey, 20%);
    display: block;
    
  }
  .card__stats{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: $primary--verydark--blue;
    

    .card__stats--span{
     font-size: 0.9rem;
     color: $neutral--grey;
     font-weight: 300;
    }
  }

}